{% extends "base.html" %} {% block content %}


<section id="presentation">
    <div><img src="icons/logo_bicolor.svg" alt="Logo" class="logo-img"></div>
    <h1>Documents Research</h1>
</section>
<section class="hidden" id='error-message'> </section>


<section id="query-section">
    <!-- Please put the API Url in the form action-->
    <form id="query-form" action="/api/model/prediction" enctype="application/x-www-form-urlencoded" method="post">

        <label for="query-source">
                <textarea id="query-source" name="query" rows = "5" cols="33"  required></textarea> 
        </label>

        <label id="top-k-label" for="topk">
            <span>Nb de documents en retour</span>
            <input type="number" id="top-k-input" name="topk" min="1" max="15" value="3" step="1">

        </label>

        <input type="submit" id="submit-button" value="Envoyer le formulaire">

    </form>
</section>

<section class="hidden" id="label-detected"></section>




{% endblock %}